GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SPREADSHEET_ID=1GXkIZUXrm_zW6Wn_XSkwf5H6_y9ShQzO52m5FCVv3TM
GOOGLE_SENSOR_SHEET_NAME=sensor_readings
GOOGLE_QUERIES_SHEET_NAME=travel_queries
GOOGLE_FEEDBACK_SHEET_NAME=outfit_feedback
GOOGLE_EVENTS_SHEET_NAME=interaction_events
